body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.tabs_menus {
    background-color: #f4f4f4;
    width: 200px;
    height: 100vh;
    float: left;
}

.tabs_menus ul {
    list-style-type: none;
    padding: 0;
}

.tabs_menus li {
    padding: 10px;
    cursor: pointer;
}

.tabs_menus li:hover {
    background-color: #ddd;
}

.content {
    margin-left: 200px; /* A mesma largura da barra lateral */
    padding: 20px;
}
/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}