<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style_config.css">
    <script src="static/scripts/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="static/scripts/config/config.js"></script>
    <script src="static/scripts/config/unit.js"></script>
    <script src="static/scripts/config/user.js"></script>
    <script src="static/scripts/config/role.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Configurações</title>
</head>
<body>
    {% include 'header.html'%}
    <div class="tabs_menus">
        <ul>
            <li id="sistema">Sistema</li>
            <li id="unidades">Unidades</li>
            <li id="departamentos">Departamentos</li>
            <li id="servicos">Serviços</li>
            <li id="prioridades">Prioridades</li>
            <li id="locais">Locais</li>
            <li id="cargos">Cargos</li>
            <li id="usuarios">Usuários</li>
        </ul>
    </div>
    <div class="content">
        <!-- Conteúdo das configurações será preenchido aqui -->
    </div>
</body>
</html>