<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style_config.css">
    <script src="static/scripts/config.js"></script>
    <title>Configurações</title>
</head>
<body>
    {% include 'header.html'%}
    <div class="tabs_menus">
        <ul>
            <li id="sistema">Sistema</li>
            <li id="unidades">Unidades</li>
            <li id="departamentos">Departamentos</li>
            <li id="servicos">Serviços</li>
            <li id="prioridades">Prioridades</li>
            <li id="locais">Locais</li>
            <li id="perfis">Perfis</li>
            <li id="usuarios">Usuários</li>
        </ul>
    </div>
    <div class="content">
        <!-- Conteúdo das configurações será preenchido aqui -->
    </div>

    
</body>
</html>