<link rel="stylesheet" href="static/styles/style_header.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<header id="line-menu">
    {% if not is_login %}
    <button id="menu-button">Menu &#9776;</button>
    <div class="sidebar">
        <a href="javascript:void(0)" id="close-button">&times;</a> <!-- Adiciona o botão de fechamento -->
        <a href="/queue">Fila</a>
        {% if units %}
        <a>Unidade: 
            <select id="unit-dropdown">
                {% for unit in units %}
                    {% set unit_name = unit[1] %}
                    {% set unit_id = unit[0] %}
                    <option value="{{ unit_id }}">{{ unit_name }}</option>
                {% endfor %}
            </select>
            <script>
                var actualUnity = "{{ actual_unity }}";
                var nameActualUnity = "{{ name_actual_unity }}";
            
                var dropdown = document.getElementById("unit-dropdown");
                for (var i = 0; i < dropdown.options.length; i++) {
                    if (dropdown.options[i].value == actualUnity) {
                        dropdown.selectedIndex = i;
                        console.log("Unidade atual selecionada:", nameActualUnity);
                        console.log("Unidade ID:", actualUnity);
                        console.log("Nome da Unidade:", nameActualUnity);
                        break;
                    }
                }
            </script>
        </a>
        {% endif %}    
        <a href="/">Home</a>
        <a href="/logout">Deslogar</a>
        <a href="/config">Configurações</a>
    </div>
    
    {% endif %}
    <div id="header">
        <a href="/">
        <img src="{{ url_for('static', filename='images/smartedge.png') }}" alt="Logo" />
        </a>
    </div>
</header>
