<link rel="stylesheet" href="static/styles/style_header.css">
<header id="line-menu">
    {% if not is_login %}
    <button id="menu-button">Menu &#9776;</button>
    <div class="sidebar">
        <a href="javascript:void(0)" id="close-button">&times;</a> <!-- Adiciona o botão de fechamento -->
        <a href="/queue">Fila</a>

        <a>Unidade: 
            <select id="unit-dropdown">
                {% for unit in units %}
                    {% set unit_name = unit[1] %}
                    {% set unit_id = unit[0] %}
                    <option value="{{ unit_id }}">{{ unit_name }}</option>
                {% endfor %}
            </select>
        </a>
        <a href="/">Home</a>
        <a href="/logout">Deslogar</a>
        <a href="/config">Configurações</a>
    </div>
    {% endif %}
    <div id="header">
        <img src="{{ url_for('static', filename='images/smartedge.png') }}" alt="Logo" />
    </div>
</header>
