<!-- queue.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Fila</title>
    <script src="static/scripts/sidebar.js"></script>
    <link rel="stylesheet" href="static/styles/style_queue.css">
    <link rel="stylesheet" href="static/styles/style_footer.css">
</head>
<body>
    <header>
        {% include 'header.html' %}
        <div>
            <h1>Fila</h1>
        </div>
    <table>
        <tr>
            <th>Número da Senha</th>
            <th>Data da Emissao</th>
            <th>Hora da Emissao</th>
            <th>Nome</th>
            <th>Documento</th>
            <th>Prioridade</th>
            <th>Ação</th>
        </tr>
        {% for item in queue_data %}
        <tr>
            <td>{{ item['ticket_number'] }}</td>
            <td>{{ item['date_emission'] }}</td>
            <td>{{ item['hour_emission'] }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['document_number'] }}</td>
            <td>{{ item['priority'] }}</td>

            <td class="buttons_table">
                <form action="/call" method="post">
                    <input type="hidden" name="ticket_number" value="{{ item['ticket_number'] }}">
                    <input type="hidden" name="service_desk" value="{{ id_guiche }}">
                    <input type="hidden" name="unity_id" value="{{ unity_id }}">
                    <input type="submit" value="Chamar" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">
                </form>

                <form action="/delete_queue" method="post">
                    <input type="hidden" name="ticket_number" value="{{ item['ticket_number'] }}">
                    <input type="hidden" name="name" value="{{ item['name'] }}">
                    <input type="hidden" name="document_number" value="{{ item['document_number'] }}">
                    <input type="submit" value="Deletar da fila" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>