<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador senhas</title>
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script> 
    <script src="/static/scripts/painel_exibicao.js"></script>
    
</head>

<body>
    <header>
    <!-- Botão para abrir o contêiner flutuante -->
    <button id="config-button">Config</button>
<!-- Conteúdo do container -->

    <!-- Contêiner flutuante -->
    <div id="config-container">
        <button id="voltar">Voltar</button>
        <div id="menu">
            <ul>
                <li><a href="#interface-menu">Interface</a></li>
                <li><a href="#server-menu">Servidor</a></li>
                <li><a href="#sound-menu">Som</a></li>
            </ul>
            <!-- Menu Unidade (será adicionado dinamicamente se necessário) -->
            <li id="unidade-menu"></li>

            <!-- Menu Serviço (será adicionado dinamicamente se necessário) -->
            <ul id="servico-menu"></ul>
        </div>
        <div id="interface-menu" class="menu-content">
            
        </div>
        <div id="server-menu" class="menu-content">
            <!-- Conteúdo do menu Servidor -->
            <form id="server-config-form">
                <label for="host">Host:</label>
                <input type="text" id="host" name="host" placeholder="https://"><br>
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="usuario"><br>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha"><br>
                <label for="clientId">Client ID:</label>
                <input type="text" id="clientId" name="clientId"><br>
                <label for="clientSecret">Client Secret:</label>
                <input type="password" id="clientSecret" name="clientSecret"><br>
                <button type="submit">Salvar</button>
            </form>
        </div>
        <div id="sound-menu" class="menu-content">
            
        </div>

        
    <script src="/static/scripts/container.js"></script> 
    </div>
        <div id="image-logo">
            <img src="{{ url_for('static', filename='images/smartedge.png') }}" alt="Logo" />
        </div>
        <div id="div-text-informations">
            <h1 class="text-informations">Seja Bem-vindo</h1>
        </div>
    </header>


    <div id="content"></div>

    <!-- Adicione o elemento de áudio -->
    <audio id="audio" src="/static/bingbong.mp3"></audio>

</body>
</html>
